@model project.CABD.Models.CarHistory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <style>
        a.button {
            font: bold 20px;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            text-decoration: none;
            background-color: #4CAF50;
            color: white;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }

        #outPopUp {
            width: 300px;
            height: 200px;
            background: white;
            margin: auto;
            margin-top: 50px;
            line-height: 30px;
        }
    </style>
</head>
<body style="padding-top:7.5%;padding-left:40%">
    <div>
            <dt>
                <p style="font:bold; color:green; font-size:25px; margin-bottom:-5px;">Marca</p>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>

            <dt>
                <p style="font:bold; color:green; font-size:25px; margin-bottom:-5px;">Model</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                <p style="font:bold; color:green; font-size:25px; margin-bottom:-5px;">An</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.An)
            </dd>

            <dt>
                <p style="font:bold; color:green; font-size:25px; margin-bottom:-5px;">Pret</p>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pret)
            </dd>

            <dt>
                <p style="font:bold; color:green; font-size:25px; margin-bottom:-5px;">Data Creare</p>

            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
    </p>
</body>
</html>
